{% extends 'comiqueriapp/home.html' %}

{% block titulo %}
<h1 class="mx-auto my-0 text-uppercase">Distribuidores</h1>
{% endblock titulo %}

{% block contenido %}
  
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
{% for d in distribuidor %}
        <tr>
            <td>{{ d.id }} </td>
            <td>{{ d.nombre }} </td>
            <td>{{ d.direccion }} </td>
            <td>{{ d.telefono }} </td>
        </tr>
{% endfor %}
    </tbody>
</table>        

{% endblock contenido %}
    